body{
  font-family: "Catamaran", sans-serif;
  background-color: #f3f3f3;
}

.aulas .links{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.aulas .links a{
  text-decoration: none;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.aulas .links a:hover{
  opacity: 0.8;
}
